<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Popple"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".ui.register.seller.SellerRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.enroll.EnrollActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.gps.GpsActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao${kakao_native_app_key}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao${kakaoSdkKey}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />

        <meta-data
            android:name="com.dongbin.popple.kakaoSdkKey"
            android:value="${kakaoSdkKey}" />
        <meta-data
            android:name="com.dongbin.popple.naverSdkId"
            android:value="${naverSdkId}" />
        <meta-data
            android:name="com.dongbin.popple.naverSdkSecret"
            android:value="${naverSdkSecret}" />
        <meta-data
            android:name="com.dongbin.popple.naverSdkName"
            android:value="${naverSdkName}" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${naverMapSdkId}" />
    </application>

</manifest>